.navbar {
    -webkit-box-shadow: 0px 6px 2px 0px rgba(189, 189, 189, 0.5);
    -moz-box-shadow: 0px 6px 2px 0px rgba(189, 189, 189, 0.5);
    box-shadow: 0px 6px 2px 0px rgba(189, 189, 189, 0.5);
}

.header-back {
    background-image: url(../img/bubble.svg);
    background-repeat: stretch;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    margin-bottom: 2rem;
}

.header-flex {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    margin: 1rem;
    text-align: center;
}

.basic-header {
    margin-top: 1.5rem;
    text-align: center;
}

.giphy-embed {
    border-radius: 1rem;
}