{% extends 'base.html' %}

{% block content %}
<div class="basic-header">
    <h1>404!</h1>
    <h4>This isn't the page you are looking for ✋✨</h4>
    <div style="margin-top:2rem;"></div>
    <iframe src="https://giphy.com/embed/l2JJKs3I69qfaQleE" width="480" height="218" frameBorder="0" class="giphy-embed"
    allowFullScreen></iframe>
</div>
{% endblock %}