{% extends 'base.html' %}

{% block content %}
<div class="header-back">
    <div class="header-flex">
        <div class="header-text">
            <h1 class="title">Bop!</h1>
            <h3 class="subtitle">The new social network.</h3>
        </div>
    </div>
</div>
<div class="container">
    <h2>What is it?</h2>
    <p>Bop! is a new social network based on the pillars of privacy and security. This brand new, revolutionary
        platform is currently under heavy development and is due to be released some time in the distant future.</p>
    <h2>Links</h2>
    <p>Below are some links to view the progress of Bop! and some documentation if you would like to get ahead of
        the game making extensions for Bop!</p>
    <ul>
        <li>Discord Server: <a href="about:blank">Link</a></li>
        <li>API Documentation: <a href="https://bop-repo.gitlab.io/bop-api/">Link</a></li>
    </ul>
</div>
{% endblock %}